@model SHARKNA.ViewModels.EventViewModel

<h2>اضافة حدث</h2>

<section class="page_wrap">
    <div class="page_content">
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">إضافة الحدث</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="Create" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="EventTitleAr" class="mb-1">اسم الحدث بالعربي</label>
                                        <input asp-for="EventTitleAr" class="form-control">
                                        <span asp-validation-for="EventTitleAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="EventTitleEn" class="mb-1">اسم الحدث بالانجليزي</label>
                                        <input asp-for="EventTitleEn" class="form-control">
                                        <span asp-validation-for="EventTitleEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="EventStartDate" class="mb-1">تاريخ بداية الحدث</label>
                                        <input asp-for="EventStartDate" type="datetime-local" class="form-control text-start">
                                        <span asp-validation-for="EventStartDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="EventEndtDate" class="mb-1">تاريخ نهاية الحدث</label>
                                        <input asp-for="EventEndtDate" type="datetime-local" class="form-control text-start">
                                        <span asp-validation-for="EventEndtDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="SpeakersAr" class="mb-1">المتحدث بي الحدث</label>
                                        <input asp-for="SpeakersAr" class="form-control">
                                        <span asp-validation-for="SpeakersAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="SpeakersEn" class="mb-1">المتحدث بي الحدث بالانجليزي</label>
                                        <input asp-for="SpeakersEn" class="form-control">
                                        <span asp-validation-for="SpeakersEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="TopicAr" class="mb-1">موضوع الحدث بالعربي</label>
                                        <input asp-for="TopicAr" class="form-control">
                                        <span asp-validation-for="TopicAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="TopicEn" class="mb-1">الموضوع بالانجليزي</label>
                                        <input asp-for="TopicEn" class="form-control">
                                        <span asp-validation-for="TopicEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="DescriptionAr" class="mb-1">وصف الحدث بالعربي</label>
                                        <input asp-for="DescriptionAr" class="form-control">
                                        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="DescriptionEn" class="mb-1">وصف الحدث بالانجليزي</label>
                                        <input asp-for="DescriptionEn" class="form-control">
                                        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="LocationAr" class="mb-1">موقع الحدث بالعربي</label>
                                        <input asp-for="LocationAr" class="form-control">
                                        <span asp-validation-for="LocationAr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="LocationEn" class="mb-1">موقع الحدث بالانجليزي</label>
                                        <input asp-for="LocationEn" class="form-control">
                                        <span asp-validation-for="LocationEn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="MaxAttendence" class="mb-1">الحد الأقصى للحضور</label>
                                        <input asp-for="MaxAttendence" class="form-control">
                                        <span asp-validation-for="MaxAttendence" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="BoardId" class="mb-1">اللجنة</label>
                                        <select asp-for="BoardId" class="form-control" asp-items="ViewBag.BoardsList">
                                            <option value="">اختر اللجنة</option>
                                        </select>
                                        <span asp-validation-for="BoardId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
