@model SHARKNA.Models.tblUsers

@{
    ViewData["Title"] = "Create User";
}

<h2>Create New User</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MobileNumber" class="control-label"></label>
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullNameAr" class="control-label"></label>
        <input asp-for="FullNameAr" class="form-control" />
        <span asp-validation-for="FullNameAr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullNameEn" class="control-label"></label>
        <input asp-for="FullNameEn" class="form-control" />
        <span asp-validation-for="FullNameEn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
